* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", serif;
    height: 100vh;
}

.container {
    max-width: 75rem;
    margin: 0 auto;
}
.btn {
    background-color: #5955b3;
    border: none;
    color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}

/*------------------------- navbar -------------------------- */
.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 20vh;
    align-items: center;
}
.navbar-container div:nth-child(1) {
    flex: 0.5;
}
.navbar-container div img {
    width: 130px;
}
.navbar-container .grow-list {
    flex: 2;
}
.navbar-container .grow-list .list {
    list-style-type: none;
    display: flex;
    color: #858585;
}
.navbar-container .grow-list .list-item:not(:last-child) {
    margin-right: 50px;
}
.navbar-container .grow-list .list-item:first-child {
    font-weight: 600;
    color: #000000;
}
.navbar-container .grow-list .list-item {
    cursor: pointer;
}
.navbar-container .button-group .nav-button {
    padding: 12px 30px;
    font-size: 14px;
    background-color: #5955b3;
    border: none;
    color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}


/*------------------------ banner---------------------------- */
.banner-container {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.banner-container div:first-child {
    max-width: 400px;
}
.banner-container .heading-text {
    color: #3c2f60;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 20px;
}
.banner-container .heading-text span {
    color: #5955b3;
}

.banner-container div:nth-child(2) {
    width: 700px;
    height: 65vh;
}
.banner-container div:nth-child(2) img {
    width: 800px;
    position: absolute;
    right: 0;
    top: 120px;
    z-index: -1;
}
.banner-container div .description {
    color: #777777;
    max-width: 320px;
    font-size: 14px;
    margin-bottom: 60px;
}
.banner-container .nav-button {
    padding: 15px 40px;
    /* font-size: 15px; */
}